@model StudentManagement.Areas.Teacher.Data.AnswerModel

@{
    ViewBag.Title = "Answer Detail";
}

<div class="col-xl-11" style="margin:auto">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h3 class="m-0 font-weight-bold text-primary">Answer Detail</h3>
        </div>
        <div class="card-body">
            <div class="row d-flex flex-column text-center">
                <div class="col-10 mx-auto">
                    <h3 class="m-3">@Model.AnswerTitle</h3>
                    <h6 class="m-2">@Model.CreateDate</h6>
                    <div class="col-md-9 mx-auto" style="margin-bottom:20px; margin-top:20px">@Model.Description</div>
                    <div>@Model.File</div>
                    @if (Model.File != null)
                    {
                        @Html.ActionLink("Download File", "DownloadFile",
                       new { fileName = Model.File, studentName = Model.StudentID, answerID = Model.AnswerID },
                       new { @class = "btn btn-primary mx-auto" })
                        <br /> 
                    }
                    <br /> 
                    <form action="/updateMark">
                        <div class="col-md-5 mx-auto">
                            <div class="row">
                                <p class="col-md-6" style="text-align:left"><strong>Mark: </strong></p>
                                @if(Model.Mark >=0) { 
                                @Html.TextBoxFor(m => m.Mark,
                                    new { @type = "number", @step = "0.01", @class = "form-control form-control-user col-md-6",
                                    @onkeydown = "javascript: return event.keyCode == 69 ? false : true",
                                    @min = "0", @max = "10" })
                                } else
                                {
                                    @Html.TextBoxFor(m => m.Mark,
                                    new { @type = "number", @step = "0.01", @class = "form-control form-control-user col-md-6",
                                    @onkeydown = "javascript: return event.keyCode == 69 ? false : true",
                                    @min = "0", @max = "10", @Value = "0"})
                                }
                                @Html.HiddenFor(m => m.AnswerID, new { @value = Model.AnswerID })
                                @Html.HiddenFor(m => m.TestID, new { @value = Model.TestID })
                            </div>
                        </div>
                        <br />
                        <input type="submit" class="btn btn-primary" value="Update" />
                    </form>

                </div>
                </div>
        </div>
    </div>
</div>
