@{
    var person = (BusinessObjects.Person)Session["USER_DTO"];
}

<!-- Approach -->

<div class="col-xl-11" style="margin:auto">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h1 class="m-0 font-weight-bold text-primary">Your Profile</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-xl-4" style="background-color:beige">
                    Picture here
                </div>
                <div class="col-md-8" style="height:440px">
                    <table class="col-xl-10" style="margin:auto">
                        <tr>
                            <td style="padding:15px"><strong>Username:</strong></td>
                            <td>@person.Username</td>
                        </tr>
                        <tr>
                            <td style="padding:15px"><strong>Fullname:</strong></td>
                            <td>@person.Fullname</td>
                        </tr>
                        <tr>
                            <td style="padding:15px"><strong>Gender:</strong></td>
                            <td>@person.Gender</td>
                        </tr>
                        <tr>
                            <td style="padding:15px"><strong>Phone:</strong></td>
                            <td>@person.Phone</td>
                        </tr>
                        <tr>
                            <td style="padding:15px"><strong>Address:</strong></td>
                            <td>@person.Address</td>
                        </tr>
                        <tr>
                            <td style="padding:15px"><strong>Role:</strong></td>
                            <td>@person.Discriminator</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
