
@model StudentManagement.Areas.Auth.Data.ChangePasswordModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var person = (BusinessObjects.Person)Session["USER_DTO"];
    ViewBag.Title = "Change Password";
}
<div class="col-xl-6" style="margin:auto">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h3 class="m-0 font-weight-bold text-primary">Reset your password</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-8 mx-auto" style="height:430px">
                    <form method="post" action="changePassword" class="nav-item">
                        <div style="padding-top:40px" class="mx-auto">
                            <div style="padding:20px">
                                @Html.HiddenFor(m => m.OldPassword, new { @Value = person.Password })
                                @Html.PasswordFor(m => m.CheckOldPassword, new
                           {
                               @class = "form-control form-control-user",
                               style = "border-radius:20px",
                               placeholder = "Your old password...",
                               autofocus = "autofocus"
                           })
                                @Html.ValidationMessageFor(m => m.CheckOldPassword, null, new
                           {
                               @class = "col-xl-11",
                               style = "color:#e74a3b; position:absolute"
                           })
                            </div>
                            <div style="padding:20px">
                                @Html.PasswordFor(m => m.Password, new
                           {
                               @class = "form-control form-control-user",
                               style = "border-radius:20px",
                               placeholder = "Password",
                               autofocus = "autofocus"
                           })
                                @Html.ValidationMessageFor(m => m.Password, null, new
                           {
                               @class = "col-xl-11",
                               style = "color:#e74a3b; position:absolute"
                           })
                            </div>
                            <div style="padding:20px">
                                @Html.PasswordFor(m => m.Comfirm, new
                           {
                               @class = "form-control form-control-user",
                               style = "border-radius:20px",
                               placeholder = "Confirm Password"
                           })
                                @Html.ValidationMessageFor(m => m.Comfirm, null, new
                           {
                               @class = "col-xl-11",
                               style = "color:#e74a3b; position:absolute"
                           })
                            </div>
                        </div>
                        <div style="padding:20px">
                            <input type="submit" value="Reset Password" class="btn btn-primary btn-user btn-block" style="border-radius:20px" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
