@model StudentManagement.Areas.Manager.Data.ClassModel

@{
    ViewBag.Title = "Update Class";
}

<div class="col-xl-11" style="margin:auto">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h3 class="m-0 font-weight-bold text-primary">Update Class</h3>
        </div>
        <div class="card-body">
            <div class="row">
                
                <div class="col-md-12 mx-auto" style="height:430px">
                    <form method="post" action="/editClass" class="nav-item">
                        <div style="padding-top:10px" class="mx-auto">
                            <table class="col-xl-10 mx-auto">
                                <tr>
                                    <td style="padding:20px"><strong>Class name:</strong></td>
                                    <td>
                                        @Html.HiddenFor(m => m.ClassID, new { @Value = Model.ClassID})
                                        @Html.TextBoxFor(m => m.ClassName, new { @class = "form-control form-control-user", @Value = @Model.ClassName })
                                        @Html.ValidationMessageFor(m => m.ClassName, null, new { @class = "col-xl-5", @style = "color:#e74a3b; position:absolute" })
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:20px"><strong>Start Date:</strong></td>
                                    <td>
                                        @Html.EditorFor(m => m.StartDate, new { htmlAttributes = new { @class = "form-control" }, @Value = @Model.StartDate })
                                        @Html.ValidationMessageFor(m => m.StartDate, null, new { @class = "col-xl-5", @style = "color:#e74a3b; position:absolute" })
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:20px"><strong>End Date:</strong></td>
                                    <td>
                                        @Html.EditorFor(m => m.EndDate, new { htmlAttributes = new { @class = "form-control" }, @Value = @Model.EndDate })
                                        @Html.ValidationMessageFor(m => m.EndDate, null, new { @class = "col-xl-5", @style = "color:#e74a3b; position:absolute" })
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:20px "><strong>Teacher:</strong></td>
                                    <td>
                                        @Html.DropDownListFor(m => m.TeacherID,
                                        new SelectList(Model.Teachers, "Value", "Text"),
                                        null,
                                        new { @class = "form-control form-control-user" })
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:20px "><strong>Teacher:</strong></td>
                                    <td>
                                        @Html.DropDownListFor(m => m.Status,
                                        new SelectList(Enum.GetValues(typeof(BusinessObjects.Enums.Status))),
                                        null,
                                        new { @class = "form-control form-control-user" })
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <input type="submit" value="Update" class="btn btn-primary btn-user btn-block col-xl-3 m-md-auto" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
