@model StudentManagement.Areas.Manager.Data.TeachersModal
@{
    ViewBag.Title = "Teachers";
}

<h1>Teachers</h1>

<div style="color:#000;background:#c0ebf2;"> @Model.Message </div>

<a style="margin: 0 0 10px 500px;" href="/members/0">Add new Teacher</a>
<div class="sortmessage">Click on headers to sort</div>

<form>
    <table class="table-list" style="width: 630px;">
        <tr class="table-header">
            <td class="tac" style="width: 50px;">Username</td>
            <td class="tal">Full name</td>
            <td class="tal">Phone </td>
            <td class="tal">Gender </td>
            <td class="tal">Address </td>
            <td class="tac">Edit</td>
            <td class="tac">Delete</td>
        </tr>

        @{
            int count = 0;
            foreach (var item in Model.Teachers.List)
            {

                <tr class='@(++count % 2 == 0 ? "tablerow" : "tablerow-alt")'>
                    <td class="tac">@item.Username </td>
                    <td class="tal">@item.Fullname</td>
                    <td class="tal">@item.Phone</td>
                    <td class="tal">@item.Gender</td>
                    <td class="tal">@item.Address</td>
                    <td class="tac"><a href="/teachers/@item.Username">Edit</a></td>
                    <td class="tac"><a id="delete@(item.Username)" href="javascript:void(0);">Delete</a></td>
                </tr>
            }
        }
    </table>

    @Html.Hidden("sort", Model.Teachers.Sort)
    @Html.Hidden("order", Model.Teachers.Order)


</form>
